{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="theme-option-container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> {{ text_module_settings }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                                            {% if error_name %}
                                                <div class="text-danger">{{ error_name }}</div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                                        <div class="col-sm-6">
                                            <input type="hidden" name="status" value="0" />
                                            <input type="checkbox" class="ckb-switch" name="status" id="input-status"
                                                   data-toggle="toggle" data-on="{{ text_enabled }}" data-off="{{ text_disabled }}" data-width="100" data-height="36"
                                                    {% if status %} value="1" checked {% else %} value="0" {% endif %}>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-title">{{ entry_title }}</label>
                                        <div class="col-sm-9">
                                            {% for language in languages %}
                                                <div class="input-group">
                                                    <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                                    <input type="text" name="module_title[{{ language.language_id }}]" value="{{ module_title[language.language_id] ? module_title[language.language_id] }}" placeholder="" id="input-title{{ language.language_id }}" class="form-control" />
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-type">{{ entry_module_type }}</label>
                                        <div class="col-sm-6">
                                            <select id="input-type" class="form-control" name="module_type">
                                                <option value="single_tab" {% if module_type == "single_tab" %} selected="selected" {% endif %}>{{ text_type_single }}</option>
                                                <option value="multi_tabs" {% if module_type == "multi_tabs" %} selected="selected" {% endif %}>{{ text_type_multiple }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-show-module-des">{{ entry_show_module_des }}</label>
                                        <div class="col-sm-6">
                                            <input type="hidden" name="show_module_description" value="0" />
                                            <input type="checkbox" class="ckb-switch" name="show_module_description" id="input-show-module-des"
                                                   data-toggle="toggle" data-on="{{ text_enabled }}" data-off="{{ text_disabled }}" data-width="100" data-height="36"
                                                    {% if show_module_description %} value="1" checked {% else %} value="0" {% endif %}>
                                        </div>
                                    </div>

                                    <div class="form-group form-module-des">
                                        <label class="col-sm-3 control-label" for="input-module-des">{{ entry_module_des }}</label>
                                        <div class="col-sm-9">
                                            <ul class="nav nav-tabs" id="module-des-language">
                                                {% for language in languages %}
                                                    <li><a href="#module-des-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content">
                                                {% for language in languages %}
                                                <div class="tab-pane" id="module-des-language{{ language.language_id }}">
                                                    <textarea name="module_description[{{ language.language_id }}]" placeholder="{{ entry_module_des }}" id="input-module-des{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_description[language.language_id] ? module_description[language.language_id] }}</textarea>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="theme-option-container data-settings-container single-type-module">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-shopping-bag"></i> {{ text_product_settings }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-single-collection">{{ entry_collection }}</label>
                                        <div class="col-sm-9">
                                            <div class="switch switch-multi3">
                                                <input type="radio" name="single_product_collection" class="switch-input" id="single-type-specified" value="specified" {% if single_product_collection == 'specified' %} checked="checked"{% endif %}/>
                                                <label for="single-type-specified" class="switch-label switch-label-1">{{ text_specified_product }}</label>

                                                <input type="radio" name="single_product_collection" class="switch-input" id="single-type-category" value="category" {% if single_product_collection == 'category' %} checked="checked"{% endif %}/>
                                                <label for="single-type-category" class="switch-label switch-label-2">{{ text_category_product }}</label>

                                                <input type="radio" name="single_product_collection" class="switch-input" id="single-type-special" value="special" {% if single_product_collection == 'special' %} checked="checked"{% endif %}/>
                                                <label for="single-type-special" class="switch-label switch-label-3">{{ text_special_product }}</label>

                                                <span class="switch-selection"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="module-single-type-specified" class="module-single-type-content">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="input-single-specified-products">{{ entry_products }}</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="single_specified_product" value="" placeholder="{{ entry_products }}" id="input-single-specified-products" class="form-control" />
                                                <div id="single-specified-product" class="well well-sm" style="height: 100px; overflow: auto;">
                                                    {% for product in single_specified_products %}
                                                        <div id="single-specified-product{{ product.product_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }}
                                                            <input type="hidden" name="single_specified_products[]" value="{{ product.product_id }}" />
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="module-single-type-category" class="module-single-type-content">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="input-single-category">{{ entry_category }}</label>
                                            <div class="col-sm-9">
                                                <select id="input-single-category" class="form-control selectpicker" data-live-search="true" title="{{ entry_category }}">
                                                    {% for category in categories %}
                                                        <option value="{{ category.category_id }}" {% if single_category == category.category_id %}selected="selected"{% endif %}>{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" name="single_category" value="{{ single_category }}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="input-single-category-product">{{ entry_products }}</label>
                                            <div class="col-sm-9">
                                                <div class="switch switch-multi3">
                                                    <input type="radio" name="single_category_product_type" class="switch-input" id="single-category-product-all" value="all" {% if single_category_product_type == 'all' %} checked="checked"{% endif %}/>
                                                    <label for="single-category-product-all" class="switch-label switch-label-1">{{ text_all_products }}</label>

                                                    <input type="radio" name="single_category_product_type" class="switch-input" id="single-category-product-specified" value="specified" {% if single_category_product_type == 'specified' %} checked="checked"{% endif %}/>
                                                    <label for="single-category-product-specified" class="switch-label switch-label-2">{{ text_specified_product }}</label>

                                                    <input type="radio" name="single_category_product_type" class="switch-input" id="single-category-product-special" value="special" {% if single_category_product_type == 'special' %} checked="checked"{% endif %}/>
                                                    <label for="single-category-product-special" class="switch-label switch-label-3">{{ text_special_product }}</label>

                                                    <span class="switch-selection"></span>
                                                </div>

                                                <input type="text" name="single_category_product" value="" placeholder="{{ entry_products }}" id="input-single-category-products" class="form-control" />
                                                <div id="single-category-product" class="well well-sm" style="height: 100px; overflow: auto;">
                                                    {% for product in single_category_products %}
                                                        <div id="single-category-product{{ product.product_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }}
                                                            <input type="hidden" name="single_category_products[]" value="{{ product.product_id }}" />
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <select id="input-single-category-product-special-type" class="form-control selectpicker" title="{{ entry_products_type }}">
                                                    <option value="mostviewed" {% if single_category_product_special_type == 'mostviewed' %}selected="selected"{% endif %}>{{ text_most_viewed }}</option>
                                                    <option value="bestseller" {% if single_category_product_special_type == 'bestseller' %}selected="selected"{% endif %}>{{ text_bestseller }}</option>
                                                    <option value="special"    {% if single_category_product_special_type == 'special' %}selected="selected"{% endif %}>{{ text_special }}</option>
                                                    <option value="latest"     {% if single_category_product_special_type == 'latest' %}selected="selected"{% endif %}>{{ text_latest }}</option>
                                                    <option value="random"     {% if single_category_product_special_type == 'random' %}selected="selected"{% endif %}>{{ text_random }}</option>
                                                </select>
                                                <input type="hidden" name="single_category_product_special_type" value="{{ single_category_product_special_type }}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div id="module-single-type-special" class="module-single-type-content">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-film"></i> {{ text_slider_settings }}</h3>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>

                    <div class="theme-option-container data-settings-container multi-type-module">
                        b
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-shopping-bag"></i> {{ text_product_settings }}</h3>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-film"></i> {{ text_slider_settings }}</h3>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script>
    $('#module-des-language a:first').tab('show');
    $('.data-settings-container').hide();
    $('.form-module-des').hide();
    $('.module-single-type-content').hide();

    // Single Specified Products
    $('input[name=\'single_specified_product\']').autocomplete({
        source: function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['product_id']
                        }
                    }));
                }
            });
        },
        select: function(item) {
            $('input[name=\'single_specified_product\']').val('');

            $('#single-specified-product' + item['value']).remove();

            $('#single-specified-product').append('<div id="single-specified-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="single_specified_products[]" value="' + item['value'] + '" /></div>');
        }
    });

    $('#single-specified-product').delegate('.fa-minus-circle', 'click', function() {
        $(this).parent().remove();
    });

    // Single Category Products
    $('#input-single-category').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        $('input[name=\'single_category\']').val($(this).val());
    });

    $('input[name=\'single_category_product\']').autocomplete({
        source: function(request, response) {
            $.ajax({
                url: 'index.php?route=extension/module/ptproducts/autoGetProductsByCategory&user_token={{ user_token }}&category_id='+ $('input[name=\'single_category\']').val() +'&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['product_id']
                        }
                    }));
                }
            });
        },
        select: function(item) {
            $('input[name=\'single_category_product\']').val('');

            $('#single-category-product' + item['value']).remove();

            $('#single-category-product').append('<div id="single-category-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="single_category_products[]" value="' + item['value'] + '" /></div>');
        }
    });

    $('#single-category-product').delegate('.fa-minus-circle', 'click', function() {
        $(this).parent().remove();
    });

    // Single Category Product Special Type
    $('#input-single-category-product-special-type').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        $('input[name=\'single_category_product_special_type\']').val($(this).val());
    });

    $(document).ready(function() {
        $('.toggle.btn').on('click', function () {
            var ckb_status = parseInt($(this).find('.ckb-switch').val());
            if(ckb_status == 1) {
                $(this).find('.ckb-switch').val('0');
            } else {
                $(this).find('.ckb-switch').val('1');
            }
        });

        var show_module_des = parseInt($('#input-show-module-des').val());
        var show_module_des_select = $('#input-show-module-des').closest('.toggle');
        if(show_module_des == 1) $('.form-module-des').show();
        show_module_des_select.on('click', function () {
            var ckb_status = parseInt($(this).find('.ckb-switch').val());
            if(ckb_status == 1) {
                $('.form-module-des').show();
            } else {
                $('.form-module-des').hide();
            }
        });

        var module_type = $('#input-type').val();
        if(module_type == "single_tab") $('.single-type-module').show();
        if(module_type == "multi_tabs") $('.multi-type-module').show();

        var single_product_collection = $('input[name=\'single_product_collection\']:checked').val();
        $('#module-single-type-' + single_product_collection).show();
    });

    $('input[name=\'single_product_collection\']').on('change', function () {
        var single_product_collection = $(this).val();
        $('.module-single-type-content').hide();
        $('#module-single-type-' + single_product_collection).show();
    });

    $('#input-type').on('change', function () {
        var module_type = $(this).val();
        $('.data-settings-container').hide();
        if(module_type == "single_tab") $('.single-type-module').show();
        if(module_type == "multi_tabs") $('.multi-type-module').show();
    });
</script>
{{ footer }}